---
layout: default
---
{% include hero.html %}
{% comment %} <!-- 블로그 자기 소개를 위한 hero.html 포함 --> {% endcomment %}

<div class="container">
	<div class="row">
		<div class="col col-12">   {% comment %} <!-- 만약 블로그에 포스트가 존재한다면, Latest Posts 항목을 만들어 아래 포스트 모음을 준비 --> {% endcomment %}
			{% if site.posts.size > 0 %}
				<h4 class="lates-title">Latest Posts</h4>
			{% endif %}
		</div>
	</div>
</div>

<div class="container">
	<div class="row">   {% comment %} <!-- 만약 블로그에 포스트가 존재한다면, 전체 포스트에 대해서 article-content.html 형태로 정리함 --> {% endcomment %}
	{% if site.posts.size > 0 %}
		{% for post in paginator.posts %}
			{% include article-content.html %}
		{% endfor %}
	{% endif %}
	</div>
</div>
{% comment %} <!-- 그리고 제일 아래 pagination(페이지 옮김) 기능이 구현된 pagination.html 포함 --> {% endcomment %}
{% include pagination.html %}
