---
layout: default
---
<div class="container">   {% comment %} <!-- 이게 진짜 모든 포스트의 기본 템플릿을 만든 것 같음. page랑 post는 다른 게 맞는 듯 --> {% endcomment %}
  <div class="post-title-box">
    <div class="row">
      <div class="col col-10 push-2 col-11 push-t-1 col-m-12 push-m-0">
        <span class="post__date">   {% comment %} <!-- post 날짜를 XML 스키마 형식으로 변환하고 그 페이지의 날짜를 월,일,년 포맷으로 표시 --> {% endcomment %}
          <time datetime="{{ page.date | date_to_xmlschema }}">{{page.date | date: '%b %d, %Y'}}</time>
        </span>

        <h1 class="post-title">{{ page.title | escape }}</h1>   {% comment %} <!-- 포스트 제목을 h1 태그로 escape html로 표현되도록 함 --> {% endcomment %}

        <div class="post__info">   {% comment %} <!-- 포스트를 쓴 저자, 태그 정보를 관리 --> {% endcomment %}
          <div class="post__author">
            <span>By</span>
            <a href="{{ site.baseurl }}/about/" class="author-name">{{site.data.settings.author.name}}</a>   {% comment %} <!-- 원본에는 about으로 저자 소개 페이지가 있어서 거기로 가게끔 url 설정. but 지금은 404.html page not found로 뜸 --> {% endcomment %}
          </div>

          {% if page.tags.size >= 1 %}   {% comment %} <!-- 만약 페이지에 태그가 1개 이상 있다면, 태그마다 링크 걸기 (지금은 누르면 page not found 임) --> {% endcomment %}
          <div class="post__tags">
            {% for tag in page.tags %}
              <a href="{{ site.baseurl }}/tag/{{ tag }}" class="post__tags-tag">{{ tag }}</a>
            {% endfor %}
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  {% assign no-image = nil %}
  {% if page.image %}   {% comment %} <!-- 만약 페이지(포스트)에 이미지가 있다면, 이미지 보이게 함 --> {% endcomment %}
    <div class="post__head">
      <div class="post-image" style="background-image: url({{site.baseurl}}/images/{{page.image}})"></div>
    </div>
  {% else %}   {% comment %} <!-- 만약 페이지(포스트)에 이미지가 없다면, no-image에 'post-no-image'를 대입 --> {% endcomment %}
    {% assign no-image = 'post-no-image' %}
  {% endif %}

  </div>


  <div class="container">
  <div class="row">
    <!-- begin post -->
    <article class="post {{ no-image }} col col-8 col-t-10 col-m-12">

      <div class="post__content">   {% comment %} <!-- 포스트 내용만 들어가는 영역을 만듦 --> {% endcomment %}
        {{ content }}
      </div>

      <div class="post__share">   {% comment %} <!-- 읽은 포스트를 SNS로 공유할 수 있는 부분 만듦 --> {% endcomment %}
        <span class="share__title">Share this article:</span>
        <ul class="share__list list-reset">    {% comment %} <!-- SNS 아이콘 눌러서 로그인하면 post를 공유할 수 있는  --> {% endcomment %}
          <li class="share__item">
            <a class="share__facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ site.baseurl }}{{ page.url }}"
              onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
              title="Share on Facebook" rel="nofollow"><i class="ion ion-logo-facebook"></i></a>
          </li>

          <li class="share__item">
            <a class="share__twitter" href="https://twitter.com/intent/tweet?text={{ page.title | uri_escape }}&url={{ site.url }}{{ site.baseurl }}{{ page.url }}"
              onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
              title="Share on Twitter" rel="nofollow"><i class="ion ion-logo-twitter"></i></a>
          </li>

          <li class="share__item">
            <a class="share__linkedin" href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ site.baseurl }}{{ page.url }}&title={{ page.title | uri_escape }}&summary={{ page.description | uri_escape }}&source={{ site.title | uri_escape }}"
              onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" title="Share on LinkedIn" rel="nofollow"><i class="ion ion-logo-linkedin"></i></a>
          </li>

          <li class="share__item">
            <a class="share__pinterest" href="http://pinterest.com/pin/create/button/?url={{ site.url }}{{ page.url }}&amp;media={{ site.url }}{{ site.baseurl }}/images/{{ page.image }}&amp;description={{ page.title | uri_escape }}"
              onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=900,height=500,toolbar=1,resizable=0'); return false;" title="Share on Pinterest"
              rel="nofollow"><i class="ion ion-logo-pinterest"></i></a>
          </li>
        </ul>
      </div>
    </article>
    <!-- end post -->
    </div>
  </div>

  <div class="container">   {% comment %} <!-- 포스트 내에서 이전, 이후 포스트로 연결되는 부분 담당 --> {% endcomment %}
  <div class="post__navigation">
    {% if page.previous.url %}   {% comment %} <!-- 만약 이전 페이지(포스트) url이 존재한다면, 이전 페이지 이미지, 제목, 화살표 아이콘, 링크, 설명 넣음 --> {% endcomment %}
    <div class="prev">
      <a class="post__nav__image" href="{{ site.baseurl }}{{page.previous.url}}" style="background-image: url({{site.baseurl}}/images/{{page.previous.image}})"></a>
      <h2 class="post__nav__title">
        <i class="ion ion-md-arrow-back"></i>
        <a href="{{ site.baseurl }}{{page.previous.url}}">{{page.previous.title}}</a>
      </h2>
      <p class="prev__excerpt">
        {% if page.previous.description %}   {% comment %} <!-- 만약 이전 페이지에 description이 있다면 그걸 쓰고, 아니면 content에서 html 문법 빼고 110 문자로 설명  --> {% endcomment %}
          {{ page.previous.description }}
        {% else %}
          {{ page.previous.content | strip_html | truncate: 110 }}
        {% endif %}
      </p>
    </div>
    {% endif %}

    {% if page.next.url %}
    <div class="next">
      <a class="post__nav__image" href="{{ site.baseurl }}{{page.next.url}}" style="background-image: url({{site.baseurl}}/images/{{page.next.image}})">
      </a>
      <h2 class="post__nav__title">
        <a href="{{ site.baseurl }}{{page.next.url}}">{{page.next.title}}</a>
        <i class="ion ion-md-arrow-forward"></i>
      </h2>
      <p class="next__excerpt">
        {% if page.next.description %}
          {{ page.next.description }}
        {% else %}
          {{ page.next.content | strip_html | truncate: 110 }}
        {% endif %}
      </p>
    </div>
    {% endif %}
  </div>

  {% comment %} <!-- disqus 사용해서 댓글 기능 넣을 수 있는 부분. disqus-comments.html 포함하면 됨 --> {% endcomment %}
  {% if site.data.settings.disqus-identifier %} {% include disqus-comments.html %} {% endif %}
  </div>
